---
BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AlignConsecutiveMacros : true
AlignTrailingComments : true
AllowShortCaseLabelsOnASingleLine : false
AllowShortEnumsOnASingleLine : true
AllowShortFunctionsOnASingleLine : Inline
AllowShortLambdasOnASingleLine : All
AlwaysBreakTemplateDeclarations : Yes
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false
ColumnLimit: '90'
FixNamespaceComments: 'true'
IndentWidth: '4'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: 'false'
SortIncludes: false
SpaceBeforeCpp11BracedList : false
Standard: Latest
UseTab: Never

...
