Source: libgit4cpp-0-4-5
Section: devel
Priority: optional
Maintainer: Jannik Woehnert <jannik.woehnert@desy.de>
Standards-Version: 4.6.0
Build-Depends: dev-doocs-libgul14 | libgul14-dev, meson (>=0.50.0), pkg-config, debhelper-compat (=12), libgit2-dev

Package: libgit4cpp-0-4-5
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libgit4cpp library - runtime
 Binary files for the libgit4cpp library.

Package: libgit4cpp-dev
Section: libdevel
Architecture: any
Depends: ${S:Source}
Description: libgit4cpp library - dev files
 Development files for the libgit4cpp library.
